.color-white .projects-description {
    color: #fff;
    margin-top: 15px;
}
.website-01 {
    margin-bottom: 20px;
    padding-top: 0;
}
.website-03 {
    margin-bottom: 20px;
 }
.website-02 {
    justify-content: flex-end;
    margin-bottom: 20px;
    display: flex;
}
 .website-04 {
   justify-content: flex-end;
   margin-bottom: 40px;
   display: flex;
}

.project-image-box-2 {
    height: 522px;
    max-width: 707px;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
}
.feature-link {
    min-height: 440px;
    text-decoration: none;
}
.free-call .footer-free-call {
    border: 1px solid #ffffff;
    margin-top: 40px;
}
.email-text {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    display: flex;
  }

@media screen and (min-width: 767px) {
    .project-section-1 {
        display: flex;
        gap: 100px;
        align-items: flex-end;
        margin-bottom: 100px;
    }
    .project-section-2 {
        display: flex;
        gap: 100px;
        align-items: flex-end;
    }
    .website-01 {
        margin-bottom: 0px;
        padding-top: 0;
    }
    .website-02 {
        justify-content: flex-end;
        margin-bottom: 0px;
        display: flex;
    }
     .website-04 {
       justify-content: flex-end;
       margin-bottom: 0px;
       display: flex;
    }
    .website-03 {
       margin-bottom: 0px;
    }
    .project-image-box-2 {
        height: auto;
        max-width: 707px;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        overflow: hidden;
    }
    .feature-link {
        min-height: 0px;
        text-decoration: none;
    }
}

@media screen and (min-width: 479px) {
    .about-me-img img {
        float: left;
        margin-right: 20px;
        width: 50%;
    }
    .about-me-homepage p {
        color: #141414;
        margin-bottom: 30px;
    }
}
